@charset "UTF-8";
/* CSS Document */


/*--- STUFF ---/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Typography
	1.1 - Headings
	1.2 - Body Copy
	1.3 - Buttons
	1.4 - Forms
	1.5 - Lists
	1.6 - Tables
2.0 - Navigation Menus
	2.1 - Main Menu
	2.2 - Sprites
	2.3 - Footer Menu
3.0 - Content
	3.1 - Site Structure
	3.2 - Single Columns
	3.3 - Partial Columns
4.0 - Media
5.0 - Utility
	5.1 - Background Colors
	5.2 - Text Colors
	5.3 - Text Utilities
	5.4 - Spacing
	5.5 - Alignments
	5.6 - Flex
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 - TYPOGRAPHY
-------------------------------------------------------------- */

html {
	font-size: 18px;
}

body {
	line-height: 2rem;
	font-family: 'Open Sans', sans-serif;
	font-size: 1rem;
}


/*--------------------------------------------------------------
1.1 - Headings
-------------------------------------------------------------- */

h1 {
	display: inline;
	width: 70px;
	height: 40px;
}

h2 {
	font-size: 4rem;
	font-weight: 300;
	border-bottom: 1px solid #756854;
	display: inline-block;
	line-height: 4.5rem;
	margin: 50px 0 100px 0;
}

h4 {
	font-size: 1.8rem;
	font-weight: 600;
	padding: 70px 0 50px 0;
}

/*--------------------------------------------------------------
1.2 - Body Copy
-------------------------------------------------------------- */

#hero p {
	font-size: 3.3rem;
	font-weight: 800;
	color: #FFF; 
}

#hero span p {
	color: #FFF;
	display: inline-block;
	font-weight: 300;
	font-size: 1.2rem;
}

.employee-name {
	font-weight: 800;
	font-size: 1.4rem;
}


h2, h3, nav, a, h4, .employee-name {
	text-transform: uppercase;
}

/*--------------------------------------------------------------
1.3 - Buttons
-------------------------------------------------------------- */

#hero a {
	color: #333447;
	display: inline-block;
	background-color: #f8f7ca;
	font-size: .85rem;
	margin-right: 250px;
	padding: 8px 40px;
	text-decoration: none;
}

#hero a:hover {
	background-color: #756854;
	color: #FFF;
}

/*--------------------------------------------------------------
1.5 - Lists
-------------------------------------------------------------- */



/*--------------------------------------------------------------
2.0 - Navigation Menus
-------------------------------------------------------------- */


/*--------------------------------------------------------------
2.1 - Main Menu
-------------------------------------------------------------- */

nav li {
	display: inline;
	margin-right: 50px;
	font-size: .85rem;
}

header ul {
		display: inline-block;
		margin-bottom: 0;
		margin-top: 0;
	}

nav li:last-child {
	margin-right: 0;
}

nav a {
	color: #808285;
	text-decoration: none
}

nav a:hover {
	color: #e2b841;
}

/*--------------------------------------------------------------
2.2 - Sprites
-------------------------------------------------------------- */

.sprites ul {
	list-style: none;
	list-style-position: inside;
	padding: 0;
	display: inline-block;
}

.sprites li {
	padding-right: 7px;
	display: inline;
}

/*--------------------------------------------------------------
4.0 - Media
-------------------------------------------------------------- */

#hero {
	background: url(../img/hero.jpg);
	-webkit-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: 10px;
	margin-bottom: 30px;
}

.sprites li:first-child a {
	background-image: url(../img/icon-twitter.png);
}

.sprites li:nth-child(2) a {
	background-image: url(../img/icon-facebook.png);
}

/*--------------------------------------------------------------
3.0 - Content
-------------------------------------------------------------- */

/*--------------------------------------------------------------
3.1 - Site Structure 
-------------------------------------------------------------- */

.sprites li:first-child a, .sprites li:nth-child(2) a {
	background-repeat: no-repeat;
	background-position: 0 0;
	height: 25px;
	width: 25px;
}

.sprites li:first-child a:hover, .sprites li:nth-child(2) a:hover {
	background-position: 0 -25px;
}

.sprites li:first-child a, .sprites li:nth-child(2) a {
	display: inline-block;
}

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.wrapper {
	margin: 0 auto;
	width: 75%;
}
	
.row:after {
	clear: both;
	content:"";
	display: table;
}

img {
	max-width: 100%;
}

[class*='col-'] {
	float: left;
	padding-right: 20px;
	margin-bottom: 20px;

}

[class*='col-']:last-of-type {
	padding-right: 0;
}

footer {
	background-color: #756854;
	height: 200px;
	padding-top: 30px;
}

footer p {
	margin-top: 0;
	text-align: right;
}

footer .row {
	margin-bottom: -80px;
	padding-bottom: 0;
}

/*--------------------------------------------------------------
3.2 - SINGLE COLUMNS
-------------------------------------------------------------- */

.col-1-1 {
	width: 100%;
}

.col-1-2 {
	width: 50%;
}

.col-1-3 {
	width: 33.33%;
}

.col-2-3 {
	width: 66.66%
}

.col-1-4 {
	width: 25%;
}

.col-1-5 {
	width: 20%;
}

.col-1-6 {
	width: 16.66%;
}

.col-1-7 {
	width: 14.28%;
}

.col-1-8 {
	width: 12.5%;
}

.col-1-9 {
	width: 11.11%;
}

.col-1-10 {
	width: 10%;
}

.col-1-11 {
	width: 9.09%;
}

.col-1-12 {
	width: 8.33%;
}

/*--------------------------------------------------------------
3.3 - PARTIAL COLUMNS
-------------------------------------------------------------- */

.col-3-4 {
	width: 75%;
}

.col-2-5 {
	width: 40%;
}

.col-3-5 {
	width: 60%;
}

.col-2-6 {
	width: 33.32%
}

.col-4-6 {
	width: 66.64%;
}

.col-2-7 {
	width: 28.56%;
}

.col-5-7 {
	width: 71.4%;
}

.col-3-8 {
	width: 37.5%;
}

.col-5-8 {
	width: 62.5%;
}

.col-2-9 {
	width: 22.22%;
}

.col-7-9 {
	width: 77.77%;
}

.col-3-10 {
	width: 30%;
}

.col-7-10 {
	width: 70%;
}

.col-4-11 {
	width: 36.36%
}

.col-7-11 {
	width: 63.63%;
}

.col-5-12 {
	width: 41.65%;
}

.col-7-12 {
	width: 58.31%;
}

/*--------------------------------------------------------------
5.0 - Utility
-------------------------------------------------------------- */

/*--------------------------------------------------------------
5.2 - Text Colors
-------------------------------------------------------------- */

.brown-type {
	color: #756854;
}

#about {
	background-color: #F8F7CA;
}

/*--------------------------------------------------------------
5.3 - Text Utilities
-------------------------------------------------------------- */

.text-center {
	text-align: center;
}

/*--------------------------------------------------------------
5.4 - Spacing
-------------------------------------------------------------- */

/*--------------------------------------------------------------
5.4 - SPACING
-------------------------------------------------------------- */
.p-t-sm {
	padding-top: 10px;
}
.p-t-md {
	padding-top: 20px;
}
.p-t-lg {
	padding-top: 50px;
}

.p-b-md {
	padding-bottom: 20px;
}

.p-b-lg {
	padding-bottom: 50px;
}
.p-b-xl {
	padding-bottom: 100px;
}
.m-t-0 {
	margin-top: 0;
}
.m-t-md {
	margin-top: 20px;
}

.m-b-md {
	margin-bottom: 25px;
}

.m-b-lg {
	margin-bottom: 50px;
}


header {
	padding-top: 10px;
}

header .col-7-12 {
	padding: 200px 0 100px 0;
}

#hero a:last-child {
	margin-right: 0;
}

.col-1-2 li:first-child {
	margin-left: -30px;
}

.col-1-2.horizontal-center:nth-child(2) {
	padding-right: 20px;
}






































.flex-about {
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
	-moz-flex-direction: row;
    -o-flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}


.horizontal-center {
	display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column;
}

#about .row:nth-of-type(3), #about .row:nth-of-type(5) {
	flex-direction: row-reverse;
}

.about-txt-right {
	text-align: right;
}



































/*--------------------------------------------------------------
5.5 - Alignments
-------------------------------------------------------------- */

.block-center {
	float: none;
	margin: 0 auto;
}

.f-right {
	float: right;
}


/*--------------------------------------------------------------
5.6 Flex
-------------------------------------------------------------- */

.eqWrap {
	display: -o-flex;
    display: -moz-flex;
	display: -webkit-flex;
    display: -ms-flexbox;
	display: flex;
	-moz-flex-wrap: wrap;
    -o-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
     -ms-flex-wrap: wrap;
     flex-wrap: wrap;
}


.work-sub-section {
	background-color: #f9f7f5;
	border: 1px solid #9ec4b1;
	padding: 50px 5px;
}




















@media (max-width: 480px) {
	
/*--------------------------------------------------------------
1.0 - Typography
-------------------------------------------------------------- */
		
	body {
		font-family: 'Open Sans', sans-serif;
		font-size: .8rem;
		line-height: 1.3rem;
	}	

/*--------------------------------------------------------------
1.1 - Headings
-------------------------------------------------------------- */

	h2 {
	  font-size: 2.1rem;
	  font-weight: 300;
	  border-bottom: 1px solid #756854;
	  display: inline-block;
	  text-align: center;
	  line-height: 4.5rem;
	  margin: 30px 0 20px 0;
	}
	
	h4 {
	  font-size: 1.5rem;
	  padding: 70px 0 50px 0;
	}

/*--------------------------------------------------------------
1.2 - Body Copy
-------------------------------------------------------------- */

	header p {
		font-size: 2rem;
		line-height: 2.3rem;
		padding-top: 40px;
		text-align: center;
	}
	
		span p {
		font-weight: 100;
		font-size: 1rem;
		text-align: center;
	}
	
	.employee-name {
		margin: 0;
		font-size: 1.1rem;
	}
	
/*--------------------------------------------------------------
1.3 - Buttons
-------------------------------------------------------------- */

	#hero a {
		color: #333447;
		display: inline-block;
		background-color: #f8f7ca;
		margin-right: 80px;
		padding: 10px 30px;
		text-decoration: none;
	}

/*--------------------------------------------------------------
2.0 - Navigation Menus
-------------------------------------------------------------- */

/*-- 2.1 - Main --*/

	nav {
		
	}

	nav li {
		display: inline;
		margin-right: 11px;
		font-size: .8rem;
		text-align: right;
	}	
	
	nav ul {
		padding-left: 0;
	}
	
/*--------------------------------------------------------------
3.0 - Content
-------------------------------------------------------------- */

/*-- 3.1 - Site Structure --*/

	.wrapper {
		width: 85%; 
	}

/*--------------------------------------------------------------
3.2 - Single Columns
-------------------------------------------------------------- */
	.col-1-4, .col-1-6, .col-1-8 {
		width: 50%;
	}
	
	.col-1-9 {
		width: 33.33%;
	}
	
	.col-1-3, .col-2-3, .col-1-5, .col-1-7, .col-3-4, .col-1-4.col-sm, .col-1-11 {
		width: 100%;
	}
	
	.col-1-10 {
		width: 20%;
	}
	
	.col-1-12 {
		width: 25%;
	}
	
/*--------------------------------------------------------------
3.3 - Partial Columns
-------------------------------------------------------------- */

	.col-7-12 {
		width: 100%;
	}
	
/*--------------------------------------------------------------
5.3 - Text Utilities
-------------------------------------------------------------- */

 #about .row:nth-child(3) .col-1-2.horizontal-center,  #about .row:nth-child(5) .col-1-2.horizontal-center {
	 text-align: left;
}

/*--------------------------------------------------------------
5.4 - Spacing
-------------------------------------------------------------- */
	
	.col-1-3, .col-1-4:nth-child(2), .col-1-5, .col-1-7, .col-1-4.col-sm, .col-1-6.col-sm, .col-1-8.col-sm, .col-1-9.col-sm, .col-1-10.col-sm, .col-1-11, .col-1-12.col-sm {
		padding-right: 0;
	}
	
	.col-1-2 {
		margin-bottom: 10px;
	}
	
	div.horizontal-center.col-1-2 {
		padding-left: 10px;
	}


	#hero {
		margin-top: 10px;
		margin-bottom: 10px;
		padding-bottom: 40px;
	}

	header .col-7-12 {
		padding: 20px 0 30px 0;
	}

	#about .row {
		margin-bottom: 20px;
	}
	
	.col-1-2.horizontal-center {
		padding-left: 5px;
	}

	.horizontal-center {
		padding: 0;
	}
	
	ul.sprites {
		margin: 10px 0;
	}
/*--------------------------------------------------------------
5.5 - Alignments
-------------------------------------------------------------- */
  
  #about .row:nth-child(3) .col-1-2:first-child, #about .row:nth-child(5) .col-1-2:first-child {
	float: left;
	}

#about .row:nth-child(3) .col-1-2:last-child, #about .row:nth-child(5) .col-1-2:last-child {
	float: right;
	}
	
/*--------------------------------------------------------------
5.4 - Spacing
-------------------------------------------------------------- */

	footer .row {
		  margin-bottom: -40px;
		
}
	footer ul {
		padding-left: 25px;
}

/*--------------------------------------------------------------
5.6 - Flex
-------------------------------------------------------------- */

  .equalHM.col-1-4 {
   width: 46.5%;
   padding: 30px 7px;
  
}
  
  #about .row:nth-of-type(3), #about .row:nth-of-type(5) {
	flex-direction: row;
}

.about-txt-right {
	text-align: left;
}
	
}


